{% extends "_global/index.html" %} {% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}user/models">Prikazi sve modele &nbsp;&nbsp;&nbsp;</a>
        <a href="{{ BASE }}user/models/add">Dodaj novi model</a>
    </div>

    <form class="model-form" method="POST">
        <div>
            <label for="name">Naziv: </label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="min_width">Minimalna sirina: </label>
            <input type="text" id="min_width" name="min_width" required>
        </div>
        <div>
            <label for="max_width">Maksimalna sirina: </label>
            <input type="text" id="max_width" name="max_width" required>
        </div>
        <div>
            <label for="picture">Kategorija: </label>
            <input type="text" id="picture" name="picture" required>
        </div>
        <div>
            <label for="profile_id">Proizvodjac: </label>
            <input type="number" id="profile" name="profile" required>
        </div>
        <div>
            <button type="submit">
                Izmeni model
            </button>
        </div>
    </form>
</div>
{% endblock %}