{% extends "_global/index.html" %} {% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}user/manufacturers/add">Dodaj novog proizvodjaca
        </a>
    </div>

    <div class="manufacturers">
        <ul>
            {% for manufacturer in manufacturers %}
            <li>
                <a href="{{ BASE }}user/manufacturers/edit/{{ manufacturer.manufacturer_id }}">
                    {{ manufacturer.name|escape }}
                </a> {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}