{% extends "_global/index.html" %} {% block main %}
<h1>
    {{category.name|escape}}
</h1>
<p>Spisak profila u ovoj kategoriji je: </p>
<ul>{% for profile in profileInCategory %}
    <li>
        <a href="{{BASE}}profile/{{ profile.profile_id}}">
                {{ profile.name|escape }}<br>
            </a><img src="{{BASE}}{{profile.picture}}" alt="{{profile.name}}"><br>
        <p> {{ profile.description|escape }}</p><br>
        <p>Cena po povrsini profila: {{profile.price_per_unit_area}}</p>
        {% endfor %} </ul> {% endblock %} {% block naslov %} {{category.name|escape}} {% endblock %}