{% extends "_global/index.html" %} {% block main %}
<form action="/PvcAlu/user/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required placeholder="Unesite svoj email.">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required placeholder="Unesite svoju lozinku.">
    </div>

    <div>
        <button type="submit">
            Log in
        </button>
    </div>
</form>
{% endblock %}