<!doctype html>
<html>

<head>
    <title>Pvc Alu stolarija - {% block naslov %}Pocetna{% endblock %}</title>
    <meta charset="utf-8">
</head>

<body>
    <header>
        <div class="banners">
            <a href="/PvcAlu/" class="banner">
                <img src="/assets/img/banner-1.jpg" alt="Banner-1">
            </a>
        </div>
        <nav id="main-menu">
            <ul>
                <li><a href="/PvcAlu">Pocetna</a>{% for category in categories %}
                    <li>
                        <a href="/PvcAlu/category/{{category.category_id}}">
                            {{category.name|escape|title}}
                        </a> {% endfor %}
                        <li><a href="PvcAlu/contact">Kontakt</a>
                            <li><a href="PvcAlu/infos">O nama</a>
                                <li><a href="PvcAlu/log-out">Odjava</a>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
    <footer> &copy; 2018 - Pvc Alu prodavnica Milan&amp;Marko</footer>
</body>

</html>